.dashboard-header {
  background-color: #f8f9fa;
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  justify-content: space-between; /* Clave para separar los elementos */
  align-items: center;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.dashboard-title,
.dashboard-subtitle {
  margin: 0; /* Quitamos márgenes para que se vean más juntos */
}

.dashboard-subtitle {
  color: #6c757d; /* Un color más suave para el subtítulo */
}
.btn {
  background-color: #4299e1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn:hover {
  background-color: #3182ce;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-icon {
  font-size: 1.2rem;
}

.btn-logout {
  background-color: #e53e3e;
  padding: 10px 20px;
}
.btn-logout:hover {
  background-color: #c53030;
}
