.app-sidebar {
  width: 260px;
  background-color: var(--color-surface);
  border-right: 1px solid var(--color-border);
  display: flex;
  flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
  min-height: 100vh; /* Ocupa al menos el 100% de la altura de la ventana */
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.5rem;
  box-sizing: border-box;
  z-index: 100;
  background-color: #17368d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar-header {
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--color-border);
  text-align: center;
}

.sidebar-title {
  margin: 0;
  font-size: 1.8rem;
  color: #fff;
}

.sidebar-subtitle {
  margin: 0;
  font-size: 0.9rem;
  color: #fff;
}

.sidebar-nav {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  flex-grow: 1; /* Permite que la navegación crezca y ocupe el espacio disponible */
}

.sidebar-button {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 12px 15px;
  border: none;
  background-color: transparent;
  border-radius: var(--border-radius);
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-text-primary);
  text-align: left;
  cursor: pointer;
  transition: background-color var(--transition-speed),
    color var(--transition-speed);
}

.sidebar-button:hover {
  background-color: var(--color-background);
}

svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.sidebar-footer {
  margin-top: auto; /* Empuja el footer hacia la parte inferior */
  padding-top: 1.5rem; /* Espacio superior para separar del contenido de navegación */
  border-top: 1px solid var(--color-border); /* Línea divisoria */
  /* Otros estilos si es necesario para el botón de logout */
  color: #fff;
}
